<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmc.testConfig.mapper.UserMapper"> <!--ten mapper-->


    <resultMap id = "resultUser" type = "com.cmc.testConfig.model.User">
        <!--<result property = "serialVersionUID" column = "serialVersionUID"/>-->
        <result property = "id" column = "ID"/>
        <result property = "name" column = "NAME"/>
        <result property = "password" column = "PASSWORD"/>
        <result property = "time" column = "TIME"/>

    </resultMap>


    <select id = "findById" parameterType = "long" resultMap = "resultUser">
        SELECT * FROM USERSDEMO WHERE ID = #{id};
    </select>


    <select id="findAll" resultMap="resultUser">
        select * from USERSDEMO;
    </select>


</mapper>